<!-- Indica que este template herda de "base.html", usando o mecanismo de templates do Django. -->
{% extends "base.html" %}

<!-- Carrega a tag 'static' para incluir arquivos estáticos, como CSS. -->
{% load static %}

<!-- Este bloco irá incluir estilos CSS adicionais, específico para este template. -->
{% block extra_styles %}
<!-- Inclui o arquivo CSS específico deste template. -->
<link rel="stylesheet" type="text/css" href="{% static 'app/styles/cars.css' %}">
{% endblock %}

<!-- Define o bloco de conteúdo principal do template. Esse bloco substituirá o conteúdo correspondente em "base.html". -->
{% block content %}
  <!-- Formulário de Busca -->
  <form method="GET" action="{% url 'cars_list' %}">
    <!-- Campo de Busca por Modelo -->
    <input type="text" name="search" placeholder="Buscar carro por modelo...">

    <!-- Filtro de Ano de Fabricação -->
    <select name="year">
      <option value="">Ano de fabricação</option>
      {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>

    <!-- Filtro de Ano do Modelo (Note: Verifique se é diferente do ano de fabricação) -->
    <select name="model_year">
      <option value="">Ano do modelo</option>
      {% for model_year in model_years %}
        <option value="{{ model_year }}">{{ model_year }}</option>
      {% endfor %}
    </select>

    <!-- Filtro de Marca -->
    <select name="brand">
      <option value="">Marca do veículo</option>
      {% for brand in brands %}
        <option value="{{ brand.name }}">{{ brand.name }}</option>
      {% endfor %}
    </select>

    <!-- Botão de Envio -->
    <button type="submit">Buscar</button>
    <!-- Botão para Mostrar Todos os Carros -->
    <a href="{% url 'cars_list' %}" class="all-cars-button">Lista de carros</a>
  </form>

  <!-- Grade de Cartões de Carros -->
  <div class="car-grid">
    {% if cars %}
      {% for car in cars %}
        <!-- Link do Cartão de Carro -->
        <a href="{% url 'car_detail' car.pk %}">
          <div class="car-card">
            {% if car.photo %}
              <!-- Exibição da Foto do Carro -->
              <img src="{{ car.photo.url }}" alt="{{ car.model }} - {{ car.brand }}">
            {% else %}
              <!-- Texto Substituto Quando Não Há Foto -->
              <p class="no-photo">Foto não disponível</p>
            {% endif %}
            <!-- Detalhes do Carro -->
            <h2>{{ car.brand }} {{ car.model }}</h2>
            <p>{{ car.factory_year }} - R$ {{ car.value }}</p>
          </div>
        </a>
      {% endfor %}
    {% else %}
      <!-- Mensagem Quando Nenhum Carro é Encontrado -->
      <p class="no-results">Nenhum carro encontrado.</p>
    {% endif %}
  </div>
{% endblock %}
